

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper
{
  background: linear-gradient(135deg, #002654 0%, #ED2939 150%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.3s;
    padding: 30px;
    
}

.login
{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 45rem;
    width: 30%;
    min-width: 30rem;
    height: 50vh;        /* 50% of viewport height */
    max-height: 35rem; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    box-shadow: 0 25px 25px rgba(0, 0,0, 1);
}

.login h2
{
    font-weight: 500;
    line-height: 1em;
    padding-left: 10px;
    transition: 0.5s;
    color: #333;
}

.login .inputBox input
{
    position: relative;
    width: 100%;
    padding: 15px 15px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #555;
    font-size: 1em;
    color: #333;
}

.login .inputBox button
{
    position: relative;
    width: 100%;
    padding: 15px 15px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #555;
    font-size: 1em;
    color: #333;
}

.login .inputBox button#btn
{
    border: none;
    background: linear-gradient(135deg, #002654 0%, #ED2939 150%);
    transition: all 0.3s ease;
    color: #fff;
    transition: 0.5s;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

.login .inputBox button#btn:hover
{
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.03em;
    background: linear-gradient(135deg, #031934 0%, #ee1023 150%);

}

.login .group
{
    display: flex;
    justify-content:  space-between;
    
}

.login .group a
{
    color: #333;
    text-decoration: none;
}

.login .group a:nth-child(2)
{
    font-weight: 500;
    text-decoration: underline;
}

.colors
{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
    position: absolute;
    right: 0;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    flex-direction: column;

}


